<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <title>
        {% block title %}

        {% endblock %}
    - 娇子考试练习平台
    </title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/popper.min.js" %}" type="text/javascript"></script>

    {% block head %}

    {% endblock %}
</head>
<body>

    {% block body %}
    
    {% endblock %}

    <div class="container">
        <hr>

            Copyright &copy; 2019 信息工程系 制作: <strong> <a href="https://space.bilibili.com/178530124">HeliantHuS</a> </strong>, All rights reserved. | <a href="{% url 'bugs' %}">更新日志</a> | <span id="span_dt_dt"></span>
        <br>
        <script>
            function show_date_time() {
                window.setTimeout("show_date_time()", 1000);
                BirthDay = new Date("05/10/2019 18:02:00");
                today = new Date();
                timeold = (today.getTime() - BirthDay.getTime());
                sectimeold = timeold / 1000;
                secondsold = Math.floor(sectimeold);
                msPerDay = 24 * 60 * 60 * 1000;
                e_daysold = timeold / msPerDay;
                daysold = Math.floor(e_daysold);
                e_hrsold = (e_daysold - daysold) * 24;
                hrsold = Math.floor(e_hrsold);
                e_minsold = (e_hrsold - hrsold) * 60;
                minsold = Math.floor((e_hrsold - hrsold) * 60);
                seconds = Math.floor((e_minsold - minsold) * 60);
                span_dt_dt.innerHTML = "此网站已运行:" + daysold + "天" + hrsold + "小时" + minsold + "分" + seconds + "秒";
            }
            show_date_time();
        </script>
    </div>
</body>
</html>