{% extends 'base.html' %}
{% block title %}

    单选随机题目

{% endblock %}


{% block body %}

    <div class="container">
        <div class="alert alert-dark"><strong>随机单选题！</strong>现在你还可以选择出来谁是正确的么? &nbsp</div>
        <form action="{% url 'select' %}" method="post">
            {% csrf_token %}
            {% for i in data %}
                <strong>{{ forloop.counter }}.</strong> {{ i.topic }} <br>
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" name="select" value="{{ i.id }}|A|{{ forloop.counter }}"
                                   id="{{ i.id }}|A|{{ forloop.counter }}"><label
                                for="{{ i.id }}|A|{{ forloop.counter }}">{{ i.a }}</label> &nbsp;
                        </td>
                        <td>
                            <input type="checkbox" name="select" value="{{ i.id }}|B|{{ forloop.counter }}"
                                   id="{{ i.id }}|B|{{ forloop.counter }}"><label
                                for="{{ i.id }}|B|{{ forloop.counter }}">{{ i.b }}</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="checkbox" name="select" value="{{ i.id }}|C|{{ forloop.counter }}"
                                   id="{{ i.id }}|C|{{ forloop.counter }}"><label
                                for="{{ i.id }}|C|{{ forloop.counter }}">{{ i.c }}</label>
                        </td>

                        <td>
                            <input type="checkbox" name="select" value="{{ i.id }}|D|{{ forloop.counter }}"
                                   id="{{ i.id }}|D|{{ forloop.counter }}"><label
                                for="{{ i.id }}|D|{{ forloop.counter }}">{{ i.d }}</label> &nbsp;
                        </td>
                    </tr>
                </table> &nbsp;
                <hr>
            {% endfor %}
            <div style="position: fixed; margin-right: 10px; bottom: 0; right: 0; float: right;">
                <a href="{% url 'index' %}" class="btn btn-info">返回主页</a>
                <input type="submit" value="提  交" class="btn btn-success">
            </div>

        </form>
    </div>
{% endblock %}