{% extends 'base.html' %}
{% block title %}

    单选随机题目(30道题目)

{% endblock %}


{% block body %}

    <div class="container">
        <div class="alert alert-primary"><strong>随机单选题！</strong>每个题目请务必只选择一个, 否则....嘻嘻.., 没必要一次性全部做完, 做多少个就分析多少个的分.  &nbsp; qq: 1984441370 </div>
        <form action="{% url 'select' %}" method="post">
            {% csrf_token %}
            {% for i in data %}
                <strong>{{ forloop.counter }}.</strong> {{ i.topic }} <br>
                <label for=""><input type="checkbox" name="select" value="{{ i.id }}|A|{{ forloop.counter }}">{{ i.a }}</label> &nbsp;
                <label for=""><input type="checkbox" name="select" value="{{ i.id }}|B|{{ forloop.counter }}">{{ i.b }}</label> <br>
                <label for=""><input type="checkbox" name="select" value="{{ i.id }}|C|{{ forloop.counter }}">{{ i.c }}</label> &nbsp;
                <label for=""><input type="checkbox" name="select" value="{{ i.id }}|D|{{ forloop.counter }}">{{ i.d }}</label> &nbsp;
                <hr>
            {% endfor %}
            <div style="position: fixed; margin-right: 10px; bottom: 0; right: 0; float: right;">
                <a href="{% url 'index' %}" class="btn btn-info">返回主页</a>
                <input type="submit" value="提  交" class="btn btn-success">
            </div>

        </form>
    </div>

{% endblock %}