{% extends "base.html" %}
{% block title %}
    欢迎复习!~
{% endblock %}

{% block body %}

    <div class="container">
        <div class="alert alert-info">
            <strong>战绩！</strong>你已经累计做了 <strong>{{ user.userinfo.total }}</strong> 道题目, 对
            <strong>{{ user.userinfo.ttotal }}</strong> 道, 错 <strong>{{ user.userinfo.ftotal }}</strong> 道, 准确率为
            <strong>{% widthratio user.userinfo.ttotal user.userinfo.total 100 %}%</strong> .
        </div>
        <h1 class="text-center">欢迎复习. <label for="" class="text-danger">:D</label></h1>
        <br>

        <h4 class="text-center">Hello, <strong class="text-info">{{ user }}</strong>.
            你已经累计学习了<strong class="text-warning"> {% widthratio user.userinfo.fraction 60 1 %} </strong> 分钟.
            累计做题 <strong class="text-warning">{{ user.userinfo.total }}</strong> 道, 对 <strong
                    class="text-warning">{{ user.userinfo.ttotal }}</strong> 道, 错 <strong
                    class="text-warning">{{ user.userinfo.ftotal }}</strong> 道, 准确率为 <strong
                    class="text-warning">{% widthratio user.userinfo.ttotal user.userinfo.total 100 %}%</strong> .
            <a href="{% url 'logout' %}" class="btn btn-dark">注销</a>
            {% if user.is_staff or user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="btn btn-info">管理页面</a>
                <a href="{% url 'create_users' %}" class="btn btn-warning">批量添加用户</a>
            {% endif %}
        </h4>

        <br>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        所有题目 (按顺序)
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'select' %}">单选题({{ select_count }})</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'selects' %}">多选题({{ selects_count }})</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'judge' %}">判断题({{ judge_count }})</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        随机题目 (打乱顺序, 量减少)
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'random_select' %}">随机单选题(
                                {% if select_count > system_select_count %}
                                    {{ system_select_count }}
                                {% elif select_count < 30 %}
                                    {{ select_count }}
                                {% endif %}
                                )</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'random_selects' %}">随机多选题(
                                {% if selects_count > system_selects_count %}
                                    {{ system_selects_count }}
                                {% elif selects_count < 15 %}
                                    {{ selects_count }}
                                {% endif %}
                                )</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'random_judge' %}">随机判断题(
                                {% if judge_count > system_judge_count %}
                                    {{ system_judge_count }}
                                {% elif judge_count < 15 %}
                                    {{ judge_count }}
                                {% endif %}
                                )</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="down-right d-none d-xl-block d-lg-block">
            <p class="">当前服务器状态: {{ cpu }} | {{ memory }} | {{ disk }}</p>
        </div>
    </div>


{% endblock %}